body {
  font-family: Arial, sans-serif;
  text-align: center;
}
#quiz-container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  height: 100px;
  width: 600px;
}

#question-container {
  border-bottom: 1px solid #ccc;
  padding: 20px;
  border-radius: 50px 5px;
  background-color: mediumturquoise;
}
#options-container {
  padding: 20px;
  border-radius: 5px 50px;
  background-color: cadetblue;
}
#result-container {
  display: none;
  padding: 20px;
  border-radius: 5px;
  background-color: antiquewhite;
}