body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url('../images/bob-marley.jpg');
  background-size: cover;
  font-family: "Roboto"; 
  font-family: Arial, sans-serif;
  text-align: center;
}
#quiz-container {
  position: absolute;
  top: 50%;
  left: 30%;
  margin-top: -50px;
  margin-left: -50px;
  width: 600px;
}

#question-container {
  border-bottom: 1px solid #ccc;
  padding: 20px;
  border-radius: 50px 5px;
  background-color: mediumturquoise;
}
#options-container {
  padding: 20px;
  border-radius: 5px 50px;
  background-color: cadetblue;
}
#result-container {
  display: none;
  padding: 20px;
  border-radius: 5px;
  background-color: antiquewhite;
}